<form id="idFormEditData">
    <div class="row">
        <div class="col-md-6">
            <input type="text" id="ID" name="biodataPelamar[0].id" hidden>
            <input type="text" id="idAddress" name="alamatPelamar[0].id" hidden>
            Nama Lengkap* <br />
            <input required maxlength="255" class="form-control" id="idEditNama" type="text" name="biodataPelamar[0].fullname" style="padding-left:10px; border: 2px solid #000080; color: #000080; border-radius:7px; width:100%; max-width:100%; height:40px;" />

            <div class="row">
                <div class="col-md-6">
                    Tempat Lahir* <br />
                    <input required maxlength="100" class="form-control" id="idEditTempatLahir" type="text" name="biodataPelamar[0].pob" style="padding-left:10px; border: 2px solid #000080; color: #000080; border-radius:7px; width:100%; max-width:100%; height:40px;" />

                    Tinggi Cm<br />
                    <input id="idEditTinggi" type="text" name="biodataPelamar[0].high" style="padding-left:10px; border: 2px solid #000080; color: #000080; border-radius:7px; width:100%; max-width:100%; height:40px;" />

                </div>

                <div class="col-md-6">
                    Tanggal Lahir* <br />
                    <input required class="form-control" id="idEditTanggalLahir" type="date" name="biodataPelamar[0].dob" style="padding-left:10px; border: 2px solid #000080; color: #000080; border-radius:7px; width:100%; max-width:100%; height:40px;" />

                    Berat Kg<br />
                    <input id="idEditBerat" type="text" name="biodataPelamar[0].weight" style="padding-left:10px; border: 2px solid #000080; color: #000080; border-radius:7px; width:100%; max-width:100%; height:40px;" />

                </div>
            </div>
            Kegemaran/Hobbi <br />
            <input id="idEditHobbi" type="text" id="idEditHobbi" name="biodataPelamar[0].hobby" style="padding-left:10px; border: 2px solid #000080; color: #000080; border-radius:7px; width:100%; max-width:100%; height:40px;" />

            <div class="row">
                <div class="col-md-6">
                    Email* <br />
                    <input required class="form-control" id="idEditEmail" type="email" name="biodataPelamar[0].email" style="padding-left:10px; border: 2px solid #000080; color: #000080; border-radius:7px; width:100%; max-width:100%; height:40px;" />

                    Anak Ke-* <br />
                    <input required class="form-control" id="idEditChildSequence" type="text" name="biodataPelamar[0].child_sequence" style="padding-left:10px; border: 2px solid #000080; color: #000080; border-radius:7px; width:100%; max-width:100%; height:40px;" />

                </div>
                <div class="col-md-6">
                    No. Hp<br />
                    <input id="idEditNomorHp1" type="text" name="biodataPelamar[0].phone_number1" style="padding-left:10px; border: 2px solid #000080; color: #000080; border-radius:7px; width:100%; max-width:100%; height:40px;" />

                    Dari Berapa Bersaudara* <br />
                    <input required class="form-control" id="idEditHowManyBrothers" type="text" name="biodataPelamar[0].how_many_brothers" style="padding-left:10px; border: 2px solid #000080; color: #000080; border-radius:7px; width:100%; max-width:100%; height:40px;" />

                </div>
            </div>


            <h4>
                Alamat Sesuai Kartu Identitas
                <hr style="padding-left:10px; border: 2px solid #000080; color: #000080; margin-top:5px">
            </h4>

            Alamat*<br />
            <input c id="idEditAlamat1" type="text" name="alamatPelamar[0].address1" style="padding-left:10px; border: 2px solid #000080; color: #000080; border-radius:7px; width:100%; max-width:100%; height:40px;" />

            <div class="row">
                <div class="col-md-6">
                    Kode Pos<br />
                    <input id="idEditKodePos1" type="text" name="alamatPelamar[0].postal_code1" style="padding-left:10px; border: 2px solid #000080; color: #000080; border-radius:7px; width:100%; max-width:100%; height:40px;" />

                </div>
                <div class="col-md-3">
                    RT*<br />
                    <input required class="form-control" id="idEditRt1" type="text" name="alamatPelamar[0].rt1" style="padding-left:10px; border: 2px solid #000080; color: #000080; border-radius:7px; width:100%; max-width:100%; height:40px;" />

                </div>
                <div class="col-md-3">
                    RW*<br />
                    <input required class="form-control" id="idEditRw1" type="text" name="alamatPelamar[0].rw1" style="padding-left:10px; border: 2px solid #000080; color: #000080; border-radius:7px; width:100%; max-width:100%; height:40px;" />

                </div>

            </div>
            <div class="row">
                <div class="col-md-4">
                    Desa/Kelurahan*<br />
                    <input required class="form-control" id="idEditKelurahan1" type="text" name="alamatPelamar[0].kelurahan1" style="padding-left:10px; border: 2px solid #000080; color: #000080; border-radius:7px; width:100%; max-width:100%; height:40px;" />

                </div>
                <div class="col-md-4">
                    Kecamatan*<br />
                    <input required class="form-control" id="idEditKecamatan1" type="text" name="alamatPelamar[0].kecamatan1" style="padding-left:10px; border: 2px solid #000080; color: #000080; border-radius:7px; width:100%; max-width:100%; height:40px;" />

                </div>
                <div class="col-md-4">
                    Kota*<br />
                    <input required class="form-control" id="idEditKota1" type="text" name="alamatPelamar[0].region1" style="padding-left:10px; border: 2px solid #000080; color: #000080; border-radius:7px; width:100%; max-width:100%; height:40px;" />
                </div>
            </div>
        </div>


        <div class="col-md-6">
            Nama Panggilan*<br />
            <input required maxlength="100" class="form-control" id="idEditNickName" type="text" name="biodataPelamar[0].nick_name" style="padding-left:10px; border: 2px solid #000080; color: #000080; border-radius:7px; width:100%; max-width:100%; height:40px;" />

            <div class="row">
                <div class="col-md-6">
                    Jenis Kelamin*
                    <select class="form-control" id="idEditGender" name="biodataPelamar[0].gender" required style="padding-left:10px; border: 2px solid #000080; color: #000080; border-radius:7px; width:100%; max-width:100%; height:40px;">
                        <option value="0">Perempuan</option>
                        <option value="1">Laki-laki</option>
                    </select>

                    Kewarganegaraan*<br />
                    <input required maxlength="100" class="form-control" id="idEditKewarganegaraan" type="text" name="biodataPelamar[0].nationality" type="text" id="idEditNamaKeahlian" name="skill_name" style="padding-left:10px; border: 2px solid #000080; color: #000080; border-radius:7px; width:100%; max-width:100%; height:40px;" />

                    Jenis Identitas*
                    <select required class="form-control" id="idEditJenisIdentitas" name="biodataPelamar[0].identity_type_id" style="padding-left:10px; border: 2px solid #000080; color: #000080; border-radius:7px; width:100%; max-width:100%; height:40px;">
                        <option value="1">KTP</option>
                        <option value="2">SIM</option>
                    </select>

                    Nomor Hp Alternatif<br />
                    <input id="idEditNomorHp2" type="text" name="biodataPelamar[0].phone_number2" style="padding-left:10px; border: 2px solid #000080; color: #000080; border-radius:7px; width:100%; max-width:100%; height:40px;" />


                    status pernikahan*<select required class="form-control" id="idJenisStatusPernikahan" name="biodataPelamar[0].marital_status_id" style="padding-left:10px; border: 2px solid #000080; color: #000080; border-radius:7px; width:100%; max-width:100%; height:40px;">

                        <option value="1">Menikah</option>
                        <option value="2">Belum Menikah</option>
                    </select>


                </div>
                <div class="col-md-6">
                    Agama*
                    <select class="form-control" name="biodataPelamar[0].religion_id" required id="idEditAgama" style="padding-left:10px; border: 2px solid #000080; color: #000080; border-radius:7px; width:100%; max-width:100%; height:40px;">

                        <option value="1">Islam</option>
                        <option value="2">Kristen</option>
                        <option value="3">Budha</option>
                        <option value="4">Hindu</option>
                    </select>

                    Suku Bangsa<br />
                    <input id="idEditSukuBangsa" required maxlength="50" class="form-control" type="text" name="biodataPelamar[0].ethnic" style="padding-left:10px; border: 2px solid #000080; color: #000080; border-radius:7px; width:100%; max-width:100%; height:40px;" />

                    Nomor Idenditas<br />
                    <input id="idEditNomorIdentitas" required class="form-control" type="text" name="biodataPelamar[0].identity_no" style="padding-left:10px; border: 2px solid #000080; color: #000080; border-radius:7px; width:100%; max-width:100%; height:40px;" />

                    <font size="2">No Telp (Rumah/Orangtua)*</font><br />
                    <input id="idEditTelponOrangTua" required class="form-control" type="number" name="biodataPelamar[0].parent_phone_number" style="padding-left:10px; border: 2px solid #000080; color: #000080; border-radius:7px; width:100%; max-width:100%; height:40px;" />

                    Tahun Pernikahan
                    <select required class="form-control" type="number" name="biodataPelamar[0].marriage_year" id="idEditTahunPernikahan" style="padding-left:10px; border: 2px solid #000080; color: #000080; border-radius:7px; width:100%; max-width:100%; height:40px;"></select>

                </div>
            </div>
            <h5>
                Alamat Sesuai Dengan Tempat Tinggal Saat Ini
                <hr style="padding-left:10px; border: 2px solid #000080; color: #000080; margin-top:5px">
            </h5>

            Alamat*<br />
            <input id="idEditAlamat2" required class="form-control" type="text" name="alamatPelamar[0].address2" style="padding-left:10px; border: 2px solid #000080; color: #000080; border-radius:7px; width:100%; max-width:100%; height:40px;" />
            <div class="row">
                <div class="col-md-6">
                    Kode Pos<br />
                    <input id="idEditKodePos2" class="form-control" type="text" name="alamatPelamar[0].postal_code2" style="padding-left:10px; border: 2px solid #000080; color: #000080; border-radius:7px; width:100%; max-width:100%; height:40px;" />

                </div>
                <div class="col-md-3">
                    RT*<br />
                    <input id="idEditIRt2" required class="form-control" type="text" name="alamatPelamar[0].rt2" name="skill_name" style="padding-left:10px; border: 2px solid #000080; color: #000080; border-radius:7px; width:100%; max-width:100%; height:40px;" />

                </div>
                <div class="col-md-3">
                    RW*<br />
                    <input id="idEditRw2" required class="form-control" type="text" name="alamatPelamar[0].rw2" style="padding-left:10px; border: 2px solid #000080; color: #000080; border-radius:7px; width:100%; max-width:100%; height:40px;" />

                </div>


            </div>

            <div class="row">
                <div class="col-md-4">
                    Desa/Kelurahan*<br />
                    <input id="idEditKelurahan2" required class="form-control" type="text" name="alamatPelamar[0].kelurahan2" style="padding-left:10px; border: 2px solid #000080; color: #000080; border-radius:7px; width:100%; max-width:100%; height:40px;" />

                </div>
                <div class="col-md-4">
                    Kecamatan*<br />
                    <input id="idEditKecamatan2" required class="form-control" type="text" name="alamatPelamar[0].kecamatan2" style="padding-left:10px; border: 2px solid #000080; color: #000080; border-radius:7px; width:100%; max-width:100%; height:40px;" />

                </div>
                <div class="col-md-4">
                    Kota*<br />
                    <input id="idEditKota2" required class="form-control" type="text" name="alamatPelamar[0].region2" style="padding-left:10px; border: 2px solid #000080; color: #000080; border-radius:7px; width:100%; max-width:100%; height:40px;" />

                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <table style="margin-top:5px">
                        <tr>
                            <td><button type="button" class="btn img-rounded btn-batal" data-dismiss="modal" style="width:132px; height:45px; color:white; background-color:#FF8C00;">Batal</button></td>
                            <td>
                                <button type="button" id="idBtnSubmitEditBiodata" class="btn img-rounded" style="width:132px; height:45px; color:white; background-color:#000080;">Simpan</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
</form>
<script>
    $(document).ready(function () {
        //===========================Validation=================================//
        $('#idEditChildSequence').keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {

                return false;
            }
        });
        $('#idEditHowManyBrothers').keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
        });

        $('#idJenisStatusPernikahan').click(function () {
            var injectTahun;
            var injectTahun2;
            if ($('#idJenisStatusPernikahan').val() == 2) {
                injectTahun2 = '<option value="-">-</option>';
                $('#idEditTahunPernikahan').html(injectTahun2);
            }

            else {
                var getFullDate = new Date();
                var getYear = getFullDate.getFullYear();
                var getIntYear = parseInt(getYear);
                var JmlTahun = (getIntYear - 2019) + (getIntYear - 1980);
                getIntYear = getIntYear - (getIntYear - 1980);
                injectTahun = '<option value="-">Tahun</option>';
                //debugger;
                for (var i = 0; i < JmlTahun; i++) {
                    injectTahun += '<option value=' + getIntYear + '>' + getIntYear + '</option>';
                    getIntYear++;
                }
                $('#idEditTahunPernikahan').html(injectTahun);
            }
        });
        //======================Validasi Jenis Kelamin========================//
        $('#idEditGender').click(function () {
            var gender;
            if ($('#idEditGender').val() == "0" || $('#idEditGender').val() == "1") {

                gender = '<option value="true">Perempuan</option>'+
                 '<option value="false">Laki-Laki</option>'
            }
            $('#idEditGender').html(gender);
        });
        //====================================================================//

        //=====================JavaScript untuk button edit====================//
        $('#idBtnSubmitEditBiodata').click(function () {
  
            var vBiodata = $('#idFormEditData').serialize();

            if ($('#idEditKewarganegaraan').val() == "") {
                alert("Kewarganegaraan Harus di isi");
            }
            else if ($('#idEditNomorIdentitas').val() == "") {
                $('#idEditNomorIdentitas').val("-")
            }
            else if ($('#idEditRt1').val() == "") {
                alert("RT Harus di isi");
            }
            else if ($('#idEditIRt2').val() == "") {
                alert("RT Harus di isi");
            }
            else if ($('#idEditRw1').val() == "") {
                alert("RW Harus di isi");
            }
            else if ($('#idEditRw2').val() == "") {
                alert("RW Harus di isi");
            }
            else if ($('#idEditKelurahan1').val() == "") {
                alert("Kelurahan Harus di isi");
            }
            else if ($('#idEditKelurahan2').val() == "") {
                alert("Kelurahan Harus di isi");
            }
            else if ($('#idEditKecamatan1').val() == "") {
                alert("Kecamatan Harus di isi");
            }
            else if ($('#idEditKecamatan2').val() == "") {
                alert("Kecamatan Harus di isi");
            }
            else if ($('#idEditKota1').val() == "") {
                alert("Kota Harus di isi");
            }
            else if ($('#idEditKota2').val() == "") {
                alert("Kota Harus di isi");
            }
            else if ($('#idEditNomorHp1').val() == "") {
                $('#idEditNomorHp1').val("-")
            }
            else if ($('#idEditChildSequence').val() == "") {
                alert("Anak Ke- Harus di isi");
            }
            else if ($('#idEditHowManyBrothers').val() == "") {
                alert("Dari Berapa Bersaudara Harus di isi");
            }
            else if ($('#idEditAlamat1').val() == "") {
                alert("Alamat Harus di isi");
            }
            else if ($('#idEditAlamat2').val() == "") {
                alert("Alamat Harus di isi");
            }
        
            else {

                $.ajax({
                    url: '/Biodata/SaveEditBiodata',
                    data: vBiodata,
                    method: 'post',
                    success: function (mdl) {
                        if (mdl.status == "berhasil") {
                            alert("data berhasil di ubah");
                            $(".modal-create").modal("hide");
                            $(".modal-pelamar").modal("show");
                        }
                        else {
                            alert("data gagal");
                        }
                    }
                });
            }
        });
        $(".btn-batal").click(function () {
            $(".modal-create").modal("hide");
            $(".modal-pelamar").modal("show");
        });

        $(".close").click(function () {
            $(".modal-create").modal("hide");
            $(".modal-pelamar").modal("show");
        });
    });
</script>

