<form id="idFormTambahCatatan">
    <div class="container">
        <div class="row">
            <div class="col-md-6">

                Judul Catatan*
                <input required type="text" id="idAddJudul" class="form-control" name="title" value="" style="padding-left:10px; border: 2px solid #000080; color: #000080; border-radius:7px; width:100%; max-width:100%; height:40px;" /><br />

            </div>


            <div class="col-md-6">

                Jenis Catatan*
                <select class="form-control" name="note_type_id" required id="idAddJenis" style="padding-left:10px; border: 2px solid #000080; color: #000080; border-radius:7px; width:100%; max-width:100%; height:40px;">
                    <option value="0">-Pilih-</option>
                    <option value="1">Interview User</option>
                    <option value="2">Interview HRD</option>
                    <option value="3">Interview RO</option>
                    <option value="5">Interview TRO</option>
                </select>

            </div>
        </div>
        <textarea name="notes" style="border: 2px solid #000080; color: #000080; border-radius:7px; width: 100%; max-width: 100%; height:80px; padding-left:10px;"></textarea>
        <br />
        <div class="row">
            <div class="col-md-offset-8">
                <div class="btn-group">
                    <br /><button type="button" class="btn img-rounded btn-batal" data-dismiss="modal" style="width:112px; height:35px; color:white; background-color:#FF8C00;">Batal</button>
                    <button id="idButtonSimpan" type="button" name="" value="Simpan" class="btn img-rounded " style="width:112px; height:35px; color:white; background-color:#000080;">Simpan</button>
                </div>
            </div>
        </div>


    </div>
</form>
<script>
    $(document).ready(function () {
        $('#idButtonSimpan').click(function () {
            if ($("#idAddJenis").val() == 0 || $('#idAddJudul').val()=="") {
                //munculkan span validation
                //debugger;
                $("#idSpanJenisCatatan").css({ display: "block" });

                alert("Silahkan isi data bertanda * !")

            } else {
                var vDataCatatan = $('#idFormTambahCatatan').serialize();
                debugger;
                $.ajax({
                    url: '/Catatan/SaveCatatan',
                    data: vDataCatatan,
                    type: 'Post',
                    success: function (mdl) {
                        debugger;
                        if (mdl.status == "berhasil") {
                            alert("data berhasil");
                            $(".modal-create").modal("hide");
                            $(".modal-pelamar").modal("show");
                        }
                        else {
                            alert("data gagal");
                            $(".modal-create").modal("hide");
                            $(".modal-pelamar").modal("show");
                        }
                    }
                });
            }
        });
        $(".btn-batal").click(function () {
            $(".modal-create").modal("hide");
            $(".modal-pelamar").modal("show");
        });

        $(".close").click(function () {
            $(".modal-create").modal("hide");
            $(".modal-pelamar").modal("show");
            });
    });
</script>

