
@{
    ViewBag.Title = "Index";
}

<div id="IdListCatatan">


</div>

<!--Modal AddCatatan-->
<div class="modal fade modal-create" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background: darkblue">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="background: darkblue; color: white">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--Modal EditCatatann-->
<div id="IdMdlEditCatatan" class="modal fade " tabindex="-1" role="dialog" style="border: 2px solid #000080; color: #000080;  ">
    <div class="modal-dialog" role="document" style="width: 900px;">
        <div class=" modal-content modal-lg">
            <div class="modal-header" style="background-color: #000080">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span style="color:white" class="glyphicon glyphicon-remove"></span></button>
                <h4 class="modal-title" style="color: white">Ubah Pelatihan</h4>
            </div>

            <div id="IdMdlBodyEditPelatihan" class="modal-body">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--Modal DeletePelatihan-->
<div id="IdMdlDeleteCatatan" class="modal fade " tabindex="-1" role="dialog" style="border: 2px solid #8B0000; color: #8B0000;  ">
    <div class="modal-dialog" role="document" style="width: 600px;">
        <div class=" modal-content modal-lg">
            <div class="modal-header" style="background-color: #8B0000">
                <h4 class="modal-title" style="color: white">Hapus Pelatihan ?</h4>
            </div>

            <div id="IdMdlBodyDeletePelatihan" class="modal-body">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    $(document).ready(function () {
        $.ajax({
            url: '/Catatan/ListCatatan',
            method: 'Get',
            success: function (mdl) {
                $('#IdListCatatan').html(mdl);
            },
        });
    });
</script>
<div class="modal fade modal-create" tabindex="-1" role="dialog" style="display: none">
    <div class="modal-dialog" role="document" style="width: 800px">
        <div class="modal-content" style="width: 800px; color: #000080">
            <div class="modal-header" style="background: darkblue">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="background: darkblue; color: white">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
        </div>
    </div>
</div>

<!-- /.modal-content DELETE -->
<div class="modal fade modal-delete" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->